* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html {
  scroll-padding: 60px;
}

:root {
  --container-home-background: linear-gradient(
    90deg,
    rgb(35, 146, 94),
    rgb(29, 126, 143),
    rgb(66, 9, 173),
    #1e374e
  );
}

body {
  background-color: #0b1014f5;
  color: #ffffffee;
}
/* CSS ANIMATIONS */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes blink {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: "";
  }
}

@keyframes blink_text_main {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
/* CSS HEADER */

header {
  width: 100%;
  z-index: 999;
  display: flex;
  position: fixed;
  justify-content: center;
  padding: 1rem 1rem 1rem 0;
}

header nav {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: flex-end;
}

header nav a {
  color: #f0ffff;
  position: relative;
  margin-left: 1rem;
  font-size: 1.3rem;
}

header nav a::after {
  content: "";
  width: 0%;
  display: block;
  opacity: 0;
  transition: 0.4s;
  height: 3px;
  background-color: rgb(11, 219, 247);
}

header nav a:hover::after {
  opacity: 1;
  width: 100%;
}

/* CSS MAIN */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-main {
  color: #ff0740;
  margin: auto;
  width: max-content;
  position: relative;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.2rem;
}

.title-main::after {
  content: "";
  width: 65%;
  height: 5px;
  background-color: rgba(195, 195, 196, 0.603);
  position: absolute;
  bottom: 0;
  margin: -4px auto;
  z-index: -1;
  left: 0;
  right: 0;
}

.container-about,
.container-skills,
.container-portifolio,
.container-contact {
  margin-top: 3.5rem;
  max-width: 1200px;
}

/* CSS HOME */

.container-home {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100%;
  background: var(--container-home-background);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
}

.container-home #top {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.container-home #bottom {
  align-self: center;
  animation: blink 1s ease-in-out alternate infinite;
}

#home-right-side p,
h1 {
  color: rgb(238, 238, 238);
  line-height: 100%;
}

#home-right-side h1 {
  font-size: 4.5rem;
}

#home-right-side h1:after {
  content: "|";
  position: absolute;
  margin-top: -7.5px;
  animation: blink_text_main 0.8s infinite;
}

#home-right-side p {
  opacity: 0.95;
  font-size: 1.8rem;
}

#home-right-side p:last-of-type {
  opacity: 0.8;
  text-indent: 0.5rem;
}

#home-left-side #download-btn {
  border: 2px solid white;
  color: white;
  padding: 0.7rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  transition: 0.6s;
}

#home-left-side #download-btn:hover {
  border: 2px solid #11c269;
  background-color: #11c269;
}

/* CSS ABOUT-ME */
#aboutme-text {
  display: flex;
  gap: 40px;
}

#text-left p:first-of-type::first-letter {
  font-size: 1.5rem;
}

#text-left {
  position: relative;
  font-size: 1.1rem;
  width: 350px;
  text-indent: 0.6rem;
}

#text-left::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #c9c9c9b2;
  position: absolute;
  right: -1rem;
  top: 0;
}

#text-left p:last-of-type {
  text-align: center;
}

#text-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-list li p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.info-list li b {
  color: rgba(124, 253, 174, 0.877);
  letter-spacing: 1px;
}

.info-list a {
  color: #f3f3f3;
  text-decoration: underline;
}

.social-list a img {
  width: 2rem;
  transition: 0.3s;
}

.social-list a img:hover {
  transform: scale(1.08);
}

/* CSS SKILLS */
.skills-icon {
  text-align: center;
}

.skills-icon img {
  width: 70px;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.skills-icon img:hover {
  transform: scale(1.1);
}

.skill-bar ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.skill-bar ul li b {
  margin-right: 14rem;
}

.progress-bar {
  margin-top: 0.25rem;
  width: 100%;
  max-width: 350px;
  height: 1.5rem;
  background: #acacac;
  border-radius: 1rem;
}

.progress-data {
  height: 100%;
  width: 0;
  display: flex;
  background: rgb(29, 126, 143);
  border-radius: 1rem;
  align-items: center;
}

.progress-data p {
  font-weight: 600;
  margin-left: 25px;
}
/* CSS PORTIFOLIO*/

.slider {
  position: relative;
}

.slider-images {
  max-width: 100%;
  position: relative;
  width: 350px;
  height: 310px;
}

.slider-images li img {
  border-radius: 0.35rem;
  position: absolute;
  width: 350px;
  height: 300px;
  z-index: -1;
}

.slider-images li {
  opacity: 0;
  transition: 0.4s ease;
}

.slider-images li:first-of-type {
  opacity: 1;
}

.arrow-keys {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: 0.4s;
  cursor: pointer;
}

.arrow-keys:hover {
  transform: scale(0.9);
}

#arrow-right {
  right: 0;
}

.slider-points {
  display: flex;
  justify-content: center;
}

.slider-points div {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50%;
  background: #afaeae;
  transition: 0.4s;
}

.slider-points div:first-of-type {
  background: rgb(52, 174, 196);
}

/* CSS CONTACT-ME */

.container-contact form {
  display: flex;
  flex-direction: column;
}

.container-contact form label {
  visibility: hidden;
  position: absolute;
}

.input-class {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.45rem;
  border: 2px solid rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0.11);
  transition: 0.5s;
  color: #c9c9c9;
  resize: none;
}

.input-class::placeholder {
  color: #c9c9c988;
}

.input-class:focus {
  border: 2px solid rgb(29, 126, 143);
}

.container-contact form button {
  background: none;
  border: none;
  color: rgb(52, 174, 196);
  font-size: 1.5rem;
  padding: 0.8rem;
  cursor: pointer;
  border: 2px solid rgb(29, 126, 143);
  border-radius: 2rem;
  width: 70%;
  align-self: center;
  transition: 0.5s;
  font-weight: 600;
}

.container-contact form button:hover {
  color: #f3f3f3;
  background-color: rgb(29, 126, 143);
}

/* CSS FOOTER */

footer {
  padding: 4rem 0 2rem 0;
  text-align: center;
}

@media screen and (max-width: 650px) {
  /* CSS MENU MOBILE */

  header {
    padding: 0;
  }

  header nav {
    position: fixed;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    background: #14191d;
    transform: translate(100%, 0);
    transition: transform 0.5s ease;
  }

  header nav.nav-active {
    transform: translate(0, 0);
  }

  .mobile-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }

  .mobile-menu > span {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.733);
    border-radius: 0.35rem;
    transition: 0.5s;
  }

  .mobile-menu > span:nth-child(1) {
    position: absolute;
    top: 0;
    height: 5px;
    width: 100%;
    background-color: white;
  }

  .mobile-menu > span:nth-child(2) {
    position: absolute;
    top: 10px;
    height: 5px;
    width: 100%;
    background-color: white;
  }
  .mobile-menu > span:nth-child(3) {
    position: absolute;
    top: 20px;
    height: 5px;
    width: 100%;
    background-color: white;
  }

  .transform span:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 3px);
  }

  .transform span:nth-child(2) {
    opacity: 0;
  }
  .transform span:nth-child(3) {
    transform: rotate(45deg) translate(-10px, -4px);
  }

  /* CSS HOME MOBILE*/

  .container-home #top {
    flex-direction: column;
  }

  /* CSS ABOUT-ME MOBILE*/
  #aboutme-text {
    flex-direction: column;
  }
  #text-left::after {
    width: 100%;
    height: 4px;
    background-color: #c9c9c9b2;
    top: auto;
    bottom: -1.3rem;
    right: 0;
  }

  /* CSS CONTACT-ME MOBILE*/

  #top-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-class {
    width: 80vw;
  }
}
